.App{
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.hyperlinks {
  color: white;
  text-decoration: none;
}

.heading {
  margin: 0px;
}

.password {
  font-size: 2rem;
}